<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>MyLibrary - Update account</title>
</head>

<!-- CSS stylesheet for home.html -->
<link rel="stylesheet" href="/css/librarycard.css">

<body>
<header th:replace="~{main/header :: header}"></header>

<div class="wrapper">
  <div class="container">
    <div class="title"><span th:text="${user.username}"></span>'s Account Details</div>
    <div class="content">
      <div th:if="${param.success}">
        <div class="alert alert-success col-xs-offset-1 col-xs-10">
          <br>
          You have successfully changed <span th:text="${user.username}"></span>'s account's details!
        </div>
      </div>
      <form th:action="@{/admin/process-update-user-account/{id}(id=${user.id})}" method="post" th:object="${user}">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" name="username" th:value="${user.username}"/>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" name="email" th:value="${user.email}" />
          </div>
        <button type="submit">Save</button>
    </div>
  </div>
</div>
</div>
</body>


</html>

