<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyLibrary - Users</title>
</head>

<!-- CSS stylesheet for home.html -->
<link rel="stylesheet" href="/css/users.css">


<body>
<header th:replace="~{main/header :: header}"></header>

<div class="wrapper">
    <div class="container">
        <div class="search-container">
            <form action="/admin/users" method="get">
                <input type="text" placeholder="Find user..." name="username" required>
                <button type="submit">Search</button>
            </form>
        </div>
<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>&nbsp;&nbsp;Account</th>
        <th>Library Card</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td><a th:href="@{/admin/accounts/{id}(id=${user.id})}"><button>Show</button></a></td>
        <td><a th:href="@{/admin/users/{id}(id=${user.id})}"><button>Show</button></a></td>
    </tr>
</table>
        <br>
        <div class="pagination">
            <a href="?page=0">&laquo;</a>
            <!-- Iterate to generate pagination links based on the total number of users -->
            <th:block th:each="pageNumber : ${#numbers.sequence(0, (totalUsers / 5))}">
                <a th:href="@{|?page=${pageNumber}|}" th:classappend="${page.number == pageNumber} ? active : ''" th:text="${pageNumber + 1}"></a>
            </th:block>
            <a th:href="@{|?page=${(totalUsers / 5)}|}">&raquo;</a>
        </div>
    </div>
</div>
</body>
</html>