<!DOCTYPE html>

<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<header>
    <a href="/home"><img class="logo" src="/images/book.svg" alt="logo" width="60" height="60" href="/home"></a>
    <banner>&nbsp;&nbsp;MyLibrary</banner>
    <nav>
        <ul class="nav_links">
            <li><a href="/home">Home</a></li>
            <li sec:authorize="hasAuthority('ADMIN')"><a href="/admin/users">Users</a></li>
            <li sec:authorize="hasAuthority('READER') or hasAuthority('LIBRARIAN') or hasAuthority('ADMIN')"><a href="/books/search?query=">Books</a></li>
            <li sec:authorize="hasAuthority('ADMIN') or hasAuthority('LIBRARIAN')"><a href="/librarian/dashboard">Dashboard</a></li>
            <li sec:authorize="hasAuthority('READER')"><a href="/library-card">Library Card</a></li>
            <li sec:authorize="hasAuthority('USER')"><a href="/create-library-card">Apply for Library Card</a>
        </ul>
    </nav>
    <a class="cta" href=/logout>
        <button>Logout</button>
    </a>
</header>
</html>