<!DOCTYPE html>

<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyLibrary - Librarian | Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Custom CSS stylesheet -->
    <link rel="stylesheet" href="/css/users.css">

</head>
<body>
<header th:replace="~{main/header :: header}"></header>

<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidebar">
                <div class="list-group">
                    <li sec:authorize="hasAuthority('READER')"><a href="/librarian/dashboard" class="list-group-item">
                        Dashboard
                    </a>
                    <li sec:authorize="hasAuthority('READER')"><a href="/librarian/books" class="list-group-item">
                        Find new books
                    </a>
                    <li sec:authorize="hasAuthority('READER')"><a href="/librarian/borrowed" class="list-group-item">
                        Borrowed books
                    </a>
                    <li sec:authorize="hasAuthority('READER')"><a href="/librarian/readers" class="list-group-item">
                        List of readers
                    </a>
                </div>
            </div>
            <div class="col-md-9 main-content">
                <h1>Dashboard</h1>
                <p>Welcome, <strong sec:authentication="name" style="color: red"></strong>. From here
                    you can manage My Library's resources.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>