<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyLibrary - Librarian | Book Details</title>
</head>

<link rel="stylesheet" href="/css/main.css">

<body>

<header th:replace="~{main/header :: header}"></header>
<br><br>
<div class="wrapper">
    <div class="container mt-3">
        <a href="javascript:history.back()" style="color: red">
            <button class="button-show">&#8592; Return</button>
        </a>
            <br>
            <div class="container" style="margin-top: 20px;">
                <div th:if="${param.success}">
                    <div class="alert alert-success" role="alert">
                        You have successfully added this book to our library!
                    </div>
                </div>
                <div th:if="${param.deleted}">
                    <div class="alert alert-primary" role="alert">
                        You have successfully removed this book from our library!
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-9">
                        <div class="row">
                            <img th:src="${book.coverImageUrl}" alt="Book Cover">
                        </div>
                        <div class="row"><h2 th:text="${book.title}"></h2></div>
                        <div class="row"><b>Authors:</b> <span th:text="${book.authors}"></span></div>
                        </div>
                        <div class="row"><b>Publisher:</b> <span th:text="${book.publisher}"></span></div>
                        <div class="row"><b>Published date:</b> <span th:text="${book.publishedDate}"></span></div>
                        <div class="row"><b>Pages:</b> <span th:text="${book.pageCount}"></span></div>
                        <div class="row"><b>Average Rating:</b> <span th:text="${book.averageRating}"></span></div>
                        <div class="row align-items-center">
                            <br>
                            <br>
                            <div class="col-4" th:if="${!bookExistsInLibrary && param.success == null}">
                                <form method="post" th:object="${book}" th:action="@{'/librarian/add-book?query=' + ${query}}">
                                    <button type="submit" class="yellow-button" th:if="${!bookExistsInLibrary && param.success == null}">Add</button>
                                </form>
                            </div>
                            <div class="col-4" th:if="${bookExistsInLibrary}">
                                <form method="post" th:object="${book}" th:action="@{'/librarian/delete-book?query=' + ${query}}">
                                    <input type="hidden" name="_method" value="DELETE" />
                                    <button type="submit" class="red-button">Remove</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 50px;">
                <div class="row"><b>Categories:</b> <span th:text="${book.categories}"></span></div>
                <br>
                <div class="row"><b>Description:</b> <span th:text="${book.description}"></span></div>
            </div>
    </div>
</div>
</td>
</body>
</html>