<!DOCTYPE html>

<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyLibrary - Librarian | Readers</title>
</head>

<link rel="stylesheet" href="/css/users.css">

<body>
<header th:replace="~{main/header :: header}"></header>

<div class="wrapper">
    <div class="container">
        <div class="search-container">
            <form action="/librarian/readers" method="get">
                <input type="text" placeholder="Find reader..." name="phoneNumber" required>
                <button type="submit">Search</button>
            </form>
        </div>
        <br>
        <table>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Phone number</th>
                <th>E-mail</th>
                <th class="details-header">Details</th>
            </tr>
            <tr th:each="reader : ${readers}">
                <td th:text="${reader.id}"></td>
                <td th:text="${reader.firstName}"></td>
                <td th:text="${reader.lastName}"></td>
                <td th:text="${reader.phoneNumber}"></td>
                <td th:text="${reader.phoneNumber}"></td>
                <td><a th:href="@{/admin/users/{id}(id=${reader.id})}">
                    <button>Show</button>
                </a></td>
            </tr>
        </table>
        <br>
        <div class="pagination">
            <a href="?page=0">&laquo;</a>
            <!-- Iterate to generate pagination links based on the total number of readers -->
            <th:block th:each="pageNumber : ${#numbers.sequence(0, (totalReaders / 5))}">
                <a th:href="@{|?page=${pageNumber}|}"
                   th:classappend="${libraryCards.number == pageNumber} ? active : ''" th:text="${pageNumber + 1}"></a>
            </th:block>
            <a th:href="@{|?page=${(totalReaders / 5)}|}">&raquo;</a>
        </div>
    </div>
</div>
</body>
</html>