<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyLibrary - Home Page</title>
</head>

<!-- CSS stylesheet for home.html -->
<link rel="stylesheet" href="/css/home.css">

<body>
<header>
    <a href="/home"><img class="logo" src="/images/book.svg" alt="logo" width="60" height="60" href="/home"></a>
    <banner>&nbsp;&nbsp;MyLibrary</banner>
    <nav>
        <ul class="nav_links">
            <li><a href="/home">Home</a></li>
            <li sec:authorize="hasAuthority('ADMIN')"><a href="/admin/users">Users</a></li>
            <li sec:authorize="hasAuthority('READER')"><a href="/books">Books</a></li>
            <li sec:authorize="hasAuthority('READER')"><a href="/profile">Profile</a></li>
            <li sec:authorize="hasAuthority('USER')"><a href="/create-library-card">Library Card</a>
        </ul>
    </nav>
    <a class="cta" href=/logout><button>Logout</button></a>
</header>

<div class="wrapper">
    <div class="container">
        <h2>Welcome, <span sec:authentication="name"></span>!</h2>
        <br><br>
        <h2>Quote of the day</h2>
        <br>
        <hr>
        <br>
        <p id="quote"></p>
        <br>
        <h3 id="author"></h3>
    </div>
</div>
</body>

<!-- Random Quote API JS -->
<script src="/scripts/quote.js"></script>

</html>

