<!DOCTYPE html>
  <html lang="en">
  <html xmlns:th="http://www.thymeleaf.org">
  <html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <title>MyLibrary - Profile</title>
  </head>

  <!-- CSS stylesheet for home.html -->
  <link rel="stylesheet" href="/css/librarycard.css">

<body>
<header th:replace="header :: header"></header>

<div class="wrapper">
  <div class="container">
    <div class="title"><span sec:authentication="name"></span>'s Library Card</div>
    <div class="content">
      <form th:action="@{/profile}" method="get" th:object="${user}" >
        <div class="user-details">
          <div class="input-box">
            <span class="details">First name</span>
            <input type="text" name="firstName" th:value="${user.firstName}" readonly/>
          </div>
          <div class="input-box">
            <span class="details">Last name</span>
            <input type="text" name="lastName" th:value="${user.lastName}" readonly/>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" name="phoneNumber" th:value="${user.phoneNumber}" readonly/>
          </div>
          <div class="input-box">
            <span class="details">Address</span>
            <input type="text" name="address" th:value="${user.address}" readonly/>
          </div>
          <div class="input-box">
            <span class="details">Postal code</span>
            <input type="text" name="postalCode" th:value="${user.postalCode}" readonly/>
          </div>
          <div class="input-box">
            <span class="details">City</span>
            <input type="text" name="city" th:value="${user.city}" readonly/>
          </div>
          <!--        <div class="input-box">-->
          <!--          <span class="details">Birthday</span>-->
          <!--          <input type="date" th:field="*{birthday}">-->
          <!--        </div>-->
        </div>
      </form>
      <a class="cta" href=/update-profile><button>Edit</button></a>
    </div>
  </div>
</div>
</body>


</html>

