<!DOCTYPE html>
  <html lang="en">
  <html xmlns:th="http://www.thymeleaf.org">
  <html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <title>MyLibrary - Account</title>
  </head>

  <!-- CSS stylesheet for home.html -->
  <link rel="stylesheet" href="/css/librarycard.css">

<body>
<header th:replace="header :: header"></header>

<div class="wrapper">
  <div class="container">
    <div class="title"><span th:text="${user.username}"></span>'s Account Details</div>
    <div class="content">
      <form th:action="@{/admin/account/}" method="get" th:object="${user}" >
        <div class="user-details">
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" name="username" th:value="${user.username}" readonly/>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" name="email" th:value="${user.email}" readonly/>
          </div>
        </div>
      </form>
      <a th:href="@{/admin/update-user-account/{id}(id=${user.id})}"><button>Edit</button></a>
    </div>
  </div>
</div>
</body>


</html>

