<!DOCTYPE html>
  <html lang="en">
  <html xmlns:th="http://www.thymeleaf.org">
  <html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <title>MyLibrary - Update profile</title>
  </head>

  <!-- CSS stylesheet for home.html -->
  <link rel="stylesheet" href="/css/librarycard.css">

<body>
<header th:replace="header :: header"></header>

<div class="wrapper">
  <div class="container">
    <div class="title"><span sec:authentication="name"></span>'s Library Card</div>
    <div class="content">
      <div th:if="${param.success}">
        <div class="alert alert-success col-xs-offset-1 col-xs-10">
          <br>
          You have successfully changed your library card details!
        </div>
      </div>
      <form th:action="@{/process-update-profile}" method="post" th:object="${libraryCard}" >
        <div class="user-details">
          <div class="input-box">
            <span class="details">First name</span>
            <input type="text" name="firstName" th:value="${libraryCard.firstName}" />
          </div>
          <div class="input-box">
            <span class="details">Last name</span>
            <input type="text" name="lastName" th:value="${libraryCard.lastName}" />
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" name="phoneNumber" th:value="${libraryCard.phoneNumber}" />
          </div>
          <div class="input-box">
            <span class="details">Address</span>
            <input type="text" name="address" th:value="${libraryCard.address}" />
          </div>
          <div class="input-box">
            <span class="details">Postal code</span>
            <input type="text" name="postalCode" th:value="${libraryCard.postalCode}" />
          </div>
          <div class="input-box">
            <span class="details">City</span>
            <input type="text" name="city" th:value="${libraryCard.city}" />
          </div>
          <!--        <div class="input-box">-->
          <!--          <span class="details">Birthday</span>-->
          <!--          <input type="date" th:field="*{birthday}">-->
          <!--        </div>-->
        </div>
        <a class="cta" href=/process-update-profile><button>Save</button></a>
      </form>
    </div>
  </div>
</div>
</body>


</html>

