<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyLibrary - Home Page</title>
</head>

<link rel="stylesheet" href="/css/home.css">

<body>
<header th:replace="header :: header"></header>

<div class="wrapper">
    <div class="container">
        <h2>Welcome, <span sec:authentication="name"></span>!</h2>
        <br><br>
        <h2>Quote of the day</h2>
        <br>
        <hr>
        <br>
        <p id="quote"></p>
        <br>
        <h3 id="author"></h3>
    </div>
</div>
</body>

<!-- Random Quote API JS -->
<script src="/scripts/quote.js"></script>

</html>

