<!DOCTYPE html>

<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MyLibrary - Library Card</title>
</head>

<link rel="stylesheet" href="/css/librarycard.css">

<body>
<header th:replace="~{main/header :: header}"></header>

<div class="wrapper">
    <div class="container">
        <div class="title"><span sec:authentication="name"></span>'s Library Card</div>
        <div class="content">
            <form th:action="@{/library-card}" method="get" th:object="${libraryCard}">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">First name</span>
                        <input type="text" name="firstName" th:value="${libraryCard.firstName}" readonly/>
                    </div>
                    <div class="input-box">
                        <span class="details">Last name</span>
                        <input type="text" name="lastName" th:value="${libraryCard.lastName}" readonly/>
                    </div>
                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input type="text" name="phoneNumber" th:value="${libraryCard.phoneNumber}" readonly/>
                    </div>
                    <div class="input-box">
                        <span class="details">Address</span>
                        <input type="text" name="address" th:value="${libraryCard.address}" readonly/>
                    </div>
                    <div class="input-box">
                        <span class="details">Postal code</span>
                        <input type="text" name="postalCode" th:value="${libraryCard.postalCode}" readonly/>
                    </div>
                    <div class="input-box">
                        <span class="details">City</span>
                        <input type="text" name="city" th:value="${libraryCard.city}" readonly/>
                    </div>
                </div>
            </form>
            <a class="cta" href=/update-library-card>
                <button>Edit</button>
            </a>
        </div>
    </div>
</div>
</body>


</html>

